.nav {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.nav li {
  list-style: none;
}

.nav a {
  color: #efefef;
  font-weight: bold;
  text-decoration: none;
}

.nav a:visited {
  color: #ca0ffe;
  text-decoration: none;
}

.nav a:hover {
  color: #0ffef7;
  text-decoration: none;
}
